@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Ubuntu");
/* line 2, ../sass/base/_base.scss */
* {
  font-family: Indie Flower;
}

/* line 1, ../sass/module/_header.scss */
.md--topbar {
  background: #ccc;
  padding: 7px;
}

/* line 5, ../sass/module/_header.scss */
.navbar {
  border-color: #4ea5fa;
  border-radius: 0px;
  background: #4ea5fa;
  color: #fff;
  margin-bottom: 0px;
}

/* line 12, ../sass/module/_header.scss */
.navbar-inverse .navbar-brand {
  color: #fff;
}

/* line 15, ../sass/module/_header.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

/* line 18, ../sass/module/_header.scss */
.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

/* line 24, ../sass/module/_header.scss */
.affix ~ .navfix-management {
  position: relative;
  top: 60px;
}

/* line 28, ../sass/module/_header.scss */
.carousel-caption {
  text-align: left;
}
/* line 30, ../sass/module/_header.scss */
.carousel-caption p {
  font-weight: bold;
}

/* line 35, ../sass/module/_header.scss */
.md--heading {
  color: #1be2fb;
}
/* line 37, ../sass/module/_header.scss */
.md--heading span {
  color: #f58a20;
}

/* line 41, ../sass/module/_header.scss */
.md--fullwidth {
  padding: 0px;
}

/* line 1, ../sass/module/_slider.scss */
.carousel-caption {
  position: relative;
  left: 0%;
  right: 0%;
  bottom: 0px;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #000;
  text-shadow: none;
}
/* line 11, ../sass/module/_slider.scss */
.carousel-caption.btn {
  text-shadow: none;
}

/* line 15, ../sass/module/_slider.scss */
.carousel {
  position: relative;
}

/* line 18, ../sass/module/_slider.scss */
.controllers {
  position: absolute;
  top: 0px;
}

/* line 22, ../sass/module/_slider.scss */
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

/* line 1, ../sass/module/_readme.scss */
.custom-btn {
  padding: 5px 15px;
  cursor: pointer;
  background: transparent;
  outline: none;
  border-radius: 5px;
  border-color: #4ea5fa;
  color: #4ea5fa;
  transition: all 0.3s ease;
}
/* line 10, ../sass/module/_readme.scss */
.custom-btn:hover {
  text-decoration: underline;
}
/* line 13, ../sass/module/_readme.scss */
.custom-btn:active {
  transform: scale(0.9);
  box-shadow: 0px 0px 5px 2px;
}

/* line 1, ../sass/module/_about.scss */
.about {
  background: #4ea5fa;
}
/* line 3, ../sass/module/_about.scss */
.about p {
  font-size: 1.2em;
  font-weight: bold;
}
/* line 7, ../sass/module/_about.scss */
.about .custom-btn {
  border-color: #000;
  color: #000;
}

/* line 1, ../sass/module/_activities.scss */
.activities {
  background: url(../image/activities_illusion.png) repeat;
}
