@import url("https://fonts.googleapis.com/css?family=Pacifico");
/* line 2, ../sass/base/_base.scss */
* {
  font-family: Pacifico;
}

/* line 1, ../sass/module/_header.scss */
.top-bar {
  background: #d0d0d0;
  padding-top: 10px;
}

/* line 6, ../sass/module/_header.scss */
.navbar {
  margin-bottom: 0px;
  border-radius: 0 !important;
}

/* line 10, ../sass/module/_header.scss */
.navbar-inverse {
  background-color: #4ea5fa !important;
  border-color: #4ea5fa !important;
}
/* line 13, ../sass/module/_header.scss */
.navbar-inverse .navbar-nav > li > a {
  color: #fff !important;
}
/* line 16, ../sass/module/_header.scss */
.navbar-inverse .navbar-brand {
  color: #fff !important;
}

/* line 21, ../sass/module/_header.scss */
.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

/* line 27, ../sass/module/_header.scss */
.affix ~ .container-fluid {
  position: relative;
  top: 50px;
}

/* line 31, ../sass/module/_header.scss */
.extra {
  margin-top: 1000px;
}
