.activities{
	background: url(../image/activities_illusion.png) repeat;
	padding-top: $scroll-space;
	padding-bottom: 15px;
	color: #fff;
}
.nav-tabs {
    border-bottom: 1px solid $primary-color;
    a{
    	color: #fff;
    }
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{
	background-color: $primary-color;
	border-color: $primary-color;
	color: #fff;
}

.nav>li>a:focus, .nav>li>a:hover{
	background-color: $primary-color;
	border-color: $primary-color;
}

.content{
	.content-one{
		width: 50%;
		display: inline-block;
		padding-top: 15px;
		padding-right: 10px;
	}
	.content-two{
		width: 50%;
		float: right;
		padding-top: 15px;
		padding-left: 10px;
	}
}
@media screen and (max-width: 768px){
	.tab-content{
		padding-bottom: 15px;
	}
}
@media screen and (max-width: 421px){
	.content{
		p{
			font-size: 0.9em;
		}
		.custom-btn{
			padding: 1px 10px;
		}
	}
}