.floating-event{
	position: fixed;
	z-index: 99999;
	bottom: 0px;
	right: 0;
	left: 0;
	height: 150px;
	width: 100%;
	background-color: $primary-color;
	border-top: 1px solid $second-txt;
	input{
		display: none;
	}
	.close{
		color: #f00;
		opacity: 1;
		transform: skew(10deg);
		padding-right: 40px;
		cursor: pointer;
		position: absolute;
		text-indent: 0;
		right: 0px;
		z-index: 99;
		@include transition(0.3s);
		&:hover{
			color: $second-txt;
		}
	}
}

.three-order{
	display: flex;
	label{
		flex: 1;
		transform: skew(-10deg, 0deg);
		// text-indent: 10px;
		@include transition(0.3s);
		.re-manage{
			transform: skew(10deg, 0deg);
			padding: 10px;
			.carousel-indicators{
				margin: 0;
				text-align: left;
				bottom: -10px;
				left: 0;
				z-index: 0;
			}
		}
		&:first-child{
			background-color: $primary-color;
			.event-info{
				display: flex;
				padding: 0 5px;
				.info-pic{
					// flex: 1;	
				}
				.info-text{
					// flex: 1;
					padding: 10px;
					p{
						font-size: 10px;
						margin: 0;
					}
				}
			}
		}
		&:nth-child(2){
			background-color: #fff;
			height: 100%;
			.event-info{
				display: flex;
				padding: 0 5px;
				.info-pic{
					// flex: 1;	
				}
				.info-text{
					// flex: 1;
					
					p{
						font-size: 10px;
						margin: 0;
					}
					ul li{
						font-size: 10px;					}
				}
			}
		}
		&:last-child{
			background-color: $primary-color;
			.event-info{
				display: flex;
				padding: 0 5px;
				.info-pic{
					// flex: 1;	
				}
				.info-text{
					// flex: 1;
					padding: 10px;
					p{
						font-size: 10px;
						margin: 0;
					}
				}
			}
		}
		h4,h5{
			margin-top: 0px;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
}


.go-link{
	text-decoration: underline;
	padding-right: 40px; 
	margin: 0;
	cursor: pointer;
}
.go-link-last{
	float: right;
	text-decoration: underline;
	padding-right: 30px;
	cursor: pointer;
}
.fa-angle-double-up{
	position: fixed;
	bottom: 5px;
	z-index: 9;
	left: 50%;
	border: 1px solid black;
	border-radius: 3px;
	padding: 0px 8px;
	@include transition(0.3s);
	color: #fff;
	background-color: #000;
  animation: double 2s infinite all;
  -webkit-animation: double 2s linear infinite;
	&:hover{
		color: #000;
		background-color: #fff;
	}
}

@keyframes double{
  0% { margin-bottom: 0px;}
  10% { margin-bottom: 4px;}
  20% { margin-bottom: 1px;}
  45% { margin-bottom: 8px;}
  80% { margin-bottom: 0px;}
  90% { margin-bottom: 0px;}
  100% { margin-bottom: 0px;}
}


@media screen and (max-width: 1000px){
.three-order{
	display: flex;
	label{
		flex: 0;
		width: 10%;
	&:first-child{
		.event-info{
			display: flex;
			opacity: 0;
			.info-pic{
				flex: 1;	
			}
			.info-text{
				flex: 2;
				padding-right: 55px;
			}
		}
		h4{
			padding-bottom: 10px;
			transform: rotate(100deg);
		}
		.go-link{
			padding-right: 50px;
		}
	}
	&:nth-child(2){
		.event-info{
			display: flex;
			opacity: 0;
			.info-pic{
				flex: 1;	
			}
			.info-text{
				flex: 2;
			}
		}
		h4{
			padding-bottom: 10px;
			text-indent: 25px;
			transform: rotate(100deg);
		}
	}
	&:last-child{
		.event-info{
			display: flex;
			opacity: 0;
			.info-pic{
				flex: 1;	
			}
			.info-text{
				flex: 2;
				padding-right: 50px;
			}
		}
		h4{
			text-indent: 50px;
			transform: rotate(100deg);
		}
		}
	}
	.go-link{
		margin-bottom: 0px;
	}
}
	
	#news:checked ~ .three-order>label:nth-of-type(1),
	#calander:checked ~ .three-order>label:nth-of-type(2),
	#article:checked ~ .three-order>label:nth-of-type(3){
		width: 100%;
		flex: 1;
		h4{
			text-indent: 0px;
			transform: rotate(0deg);
			padding-bottom: 0px;
		}
		.event-info{
			opacity: 1;
		}
	}
}

@media screen and (max-width: 860px){
	.three-order{
	label{
		&:first-child .event-info .info-text{
			padding-right: 45px;
			padding-left: 20px;
		}
	}
	}
}

@media screen and (max-width: 645px){
	.three-order{
	label{
		&:first-child .event-info .info-text{
			font-size: 0.9em;
		}
	}
	}
}

@media screen and (max-width: 560px){
	.three-order{
	label{
		&:first-child .event-info {
			img{
				width: 120px;
			}
			.info-text{
				padding-right: 30px;
				padding-left: 2px;
			}
		}
		&:nth-of-type(2) .event-info .info-text{
			font-size: 0.9em;
		}
		&:last-child .event-info .info-text{
			padding-right: 20px;
		}
	}
	}
}

@media screen and (max-width: 415px){
	.three-order{
	label{
		&:last-child .event-info .info-text{
			font-size:0.9em;
		}
	}
}
}

@media screen and (max-width: 401px){
	.three-order{
	label{
		&:first-child .event-info {
			.info-text{
				font-size: 0.8em;
			}
		}
		&:nth-of-type(2) .event-info img{
			width: 85px;
		}
	}
	}
}