footer{
	.back-cover{
		// background: url(../image/contact.jpg) 0px 1px;
		// background-size: cover;
		background-color: $secondary-color;
	}
	h3{
		color: $primary-color;		
	}
	ul,ol{
		list-style: none;
		margin: 0px;
		padding: 0px;
		color: #fff;
		a{
			color: #fff;
		}
	}
	p{
		color: #fff;
	}
	.container > .row > div:nth-of-type(4){
		padding-bottom:50px;
	}
	.copyright{
		background: $primary-color;
		padding: 6px;
	}
	.custom-input{
		width: 220px;
		border: none;
		background: none;
		border-bottom: 1px solid $primary-color;
		color: #fff;
		@include transition(1s);
		&::placeholder {
    	color: #c1c1c1;
		}
		&:focus{
			outline: none;
			border-bottom: 2px solid $second-txt;
		}
	}
	.fa-send{
		color: #fff;
		margin-left: -20px;
		cursor: pointer;
	}
}

@media screen and (max-width: 450px) {
	footer .back-cover{
		background: url(../image/contact.jpg) -300px 0px;
		background-size: auto;
	}
}