.md--topbar{
    background: #ccc;
    padding: 7px;
    iframe{
        width: 130px;
        height: 20px;
        float: left;
    }
}
.navbar {
    border-color: $primary-color;
    @include border-radius(0px);
    background: $primary-color;
    color: #fff;
    margin-bottom: 0px;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a{
    color: #fff;
}
.affix {
    top: 0;
    width: 100%;
    z-index: 9999 !important;
}

.affix~.navfix-management{
    position: relative;
    top: 60px;
}

.md--heading{
    color: $first-txt;
    padding-bottom: 15px;
    span{
        color: $second-txt;
    }
}   
.md--fullwidth{
    padding: 0px;
}

@media screen and (max-width: 270px) {
    .md--topbar iframe{
        width: 80px;
    }
}